.modal-content {
    display: flex;
    flex-direction: column;
}

.modal-content-cover {
    width: 500px;
    height: 500px;
    margin: -20px;
}

.modal-close-button {
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    background-color: rgba(38, 202, 126, 0.6);
    border: none;
    font-weight: bolder;
    font-size: large;
    padding: 10px;
    cursor: pointer;
}

.modal-content-isSpesial {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.modal-content-isSpesial p {
    background-color: #31b572;
    padding: 10px 20px;
    color: white;
    font-weight: bolder;
    margin-right: -20px;
    border-radius: 16px 0 0 16px;
}

.modal-content-isSpesial h2 {
    text-transform: capitalize;
}

.modal-content-details {
    width: 450px;
}

.lmj-modal-add {
    background-color: #31b572;
	border: #1f8351;
	color: white;
	font-weight: bold;
	font-size: medium;
    margin: auto;
    cursor: pointer;
    width: 97%;
    height: 35px;
}

@media (max-height: 736px) {
    .modal-content-cover {
        width: 380px;
        height: 380px;
        margin: -20px;
    }
    
    .modal-content-details {
        width: 330px;
    }
    
    .modal-content-details > * {
        margin: 12px 0;
    }

    .modal-content-isSpesial > * {
        margin-bottom: 0;
    }

    .modal-content-isSpesial {
        margin-bottom: 0;
    }
    
}
