.lmj-plant-list {
	list-style-type: none;
	padding: 32px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1200px;
}

.lmj-shoppingList {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.lmj-shopping-list-add {
	position: relative;
	background: none;
	width: 90%;
	height: 35px;
	border: #1f8351 solid 2px;
	color: #31b572;
	font-weight: bold;
	font-size: medium;
	cursor: pointer;
	overflow: hidden;
	border-radius: 4px;
	transition: 0.2s all ease;
}
.lmj-shopping-list-add:hover {
	color: white;
	border-radius: 0;
	width: 95%;
	font-size: 18px;
}

.lmj-shopping-list-add::before {
	background: #31b572;
	content: '';
	position: absolute;
	z-index: -1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -52%) rotate(25deg);
	transition: all 0.25s ease;
	width: 120%;
	height: 0%;
}
.lmj-shopping-list-add:hover::before {
	height: 600%;
	transform: translate(-50%, -52%) rotate(180deg);
}

.lmj-shoppingList-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px 20px;
	position: relative;
	height: 390px;
	position: relative;
}

@media (max-width: 550px) {
    .lmj-plant-list {
		padding: 0;
	}

	.lmj-shoppingList-item {
		margin: 10px 10px;
	}
}
